.footer-container {
    background-color: #f4f8f3;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Social Icons */

  .social-icon-link {
    list-style: none;
  }
  .social-icon-link a{
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
  }
  
  .social-icon-link i {
    color: #476A6F;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }