
.hero-container {
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-color: #f4f8f3;
}

.content-container {
  min-height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  object-fit: contain;
  background-color: #f4f8f3;
}

#education, #work, #skills, #pskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.hero-container > h1 {
    color: #B7CCB7;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    margin-top: -100px;
}

.hero-container > h1 > span {
    display: block;
    line-height: 80px;
    word-spacing: -20px;
}

.typing-text {
    color: #B7CCB7;
    font-size: 30px;
    line-height: 100px;
    height: 100px;
}

.underline--text {
background-image: linear-gradient(120deg, #FDD8DA 0%, #FDD8DA 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.18em;
  background-position: 0 72%;
  transition: background-size 0.25s ease-in;

}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
    filter: contrast(0.7);
    box-shadow: 3px 3px 9px #888888;
    margin: 30px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.shake:hover {
  -moz-animation: shake 1s infinite;
  -webkit-animation: shake 1s infinite;
  animation: shake 1s infinite;
}
   
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.about-list-item, .about-list-item > i {
  list-style: none;
  font-size: 16px;
}
.about-icons {
  list-style: none;
}
.about-me {
  width: 50%;
  margin-bottom: 5%;
}
.about-me > h2 {
  font-size: 35px;
}
.about-me > h3 {
  font-size: 20px;
}

.about-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .hero-container > h1 {
    font-size: 55px;
  }
  .typing-text {
    font-size: 26px;
  }
  .about-me {
    width: 70%;
    margin-bottom: 10%;
  }
  .about-me > h2 {
    font-size: 30px;
  }
  .about-me > h3 {
    font-size: 18px;
  }
  .about-me > h4 {
    font-size: 14px;
  }
  .profile-img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
  }
  .about-icons {
    width: 50%;
  }
}

.about-icon {
  color: #476A6F;
}

.about-icon:hover  {
  cursor: pointer;
}